---
import Header from "@/components/Header.astro";
import Hero from "@/components/Hero.astro";
import Skills from "@/components/Skills.astro";

import avatar from "@/assets/avatar.png";

import "@fontsource/lato/100.css";
import "@fontsource/lato/300.css";
import "@fontsource/lato/400.css";
import "@fontsource/lato/700.css";
import "@fontsource-variable/montserrat";
import { useTranslations } from "@/i18n";

export const getStaticPaths = () => {
  return [{ params: { locale: undefined } }, { params: { locale: "fr" } }];
};

const { altLanguage, resolvedLanguage, t } = useTranslations(Astro.url);
---

<html lang={resolvedLanguage}>
  <head>
    <meta charset="utf-8" />
    <link rel="canonical" href={new URL(Astro.url.pathname, Astro.site)} />
    <link rel="alternate" href={Astro.site} hreflang="en" />
    <link rel="alternate" href={new URL("/fr", Astro.site)} hreflang="fr" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="author" content="Joshua Unrau" />
    <meta name="description" content={t("meta.description")} />
    <meta name="keywords" content="Joshua, Unrau" />
    <!-- Open Graph -->
    <meta property="og:title" content="Joshua Unrau" />
    <meta property="og:description" content={t("meta.description")} />
    <meta property="og:type" content="website" />
    <meta property="og:url" content={new URL(Astro.url.pathname, Astro.site)} />
    <meta property="og:locale" content={resolvedLanguage} />
    <meta property="og:locale:alternate" content={altLanguage} />
    <meta property="og:image" content={avatar.src} />
    <meta property="og:image:alt" content={t("hero.avatar")} />
    <meta property="og:image:height" content={avatar.height.toString()} />
    <meta property="og:image:width" content={avatar.width.toString()} />
    <title>{t("meta.title")}</title>
  </head>
  <body class="flex h-screen flex-col bg-slate-100 text-slate-900 dark:bg-slate-900 dark:text-slate-100">
    <Header />
    <main class="container flex-grow">
      <Hero />
      <Skills />
    </main>
  </body>
</html>
