---
import { useTranslations } from '@/i18n';

import '@/styles/globals.css';

type Props = {
  meta: {
    title: string;
    description: string;
    keywords: string[];
  };
};

const { altLanguage, resolvedLanguage } = useTranslations(Astro.url);
const { meta } = Astro.props;
const basePathname = Astro.url.pathname.replace(/^\/fr/, '');
---

<!doctype html>
<html lang={resolvedLanguage}>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{meta.title}</title>
    <meta name="description" content={meta.description} />
    <meta name="author" content="Joshua Unrau" />
    <meta name="keywords" content={meta.keywords.join(', ')} />
    <meta property="og:title" content={meta.title} />
    <meta property="og:description" content={meta.description} />
    <meta property="og:type" content="website" />
    <meta property="og:url" content={new URL(Astro.url.pathname, Astro.site)} />
    <link rel="alternate" href={new URL(basePathname, Astro.site)} hreflang="en" />
    <link rel="alternate" href={new URL(`/fr${basePathname}`, Astro.site)} hreflang="fr" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <link rel="sitemap" href="/sitemap-index.xml" />
  </head>
  <body class="flex min-h-screen flex-col bg-slate-100 text-slate-900 dark:bg-slate-900 dark:text-slate-100">
    <header></header>
    <main>
      <slot />
    </main>
    <footer></footer>
  </body>
</html>
