---
import avatar from '@/assets/avatar.png';
import Header from '@/components/Header.astro';
import { useTranslations } from '@/i18n';
import initThemeScript from '@/scripts/init-theme.js?url';
import { cn, getLocalizedPageURLs } from '@/utils';

import '@/styles/globals.css';

type Props = {
  className?: string;
  meta?: {
    title: string;
    description: string;
    keywords: string[];
  };
};

const { resolvedLanguage, t } = useTranslations(Astro.url);
const { className, meta } = Astro.props;
const pageUrls = getLocalizedPageURLs(Astro.url, Astro.site!);

const title = meta?.title ?? t('common.meta.title');
const description = meta?.description ?? t('common.meta.description');
const keywords = ['Joshua', 'Unrau'];
---

<!doctype html>
<html lang={resolvedLanguage}>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title}</title>
    <meta name="description" content={description} />
    <meta name="author" content="Joshua Unrau" />
    <meta name="keywords" content={keywords.join(', ')} />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:type" content="website" />
    <meta property="og:url" content={new URL(Astro.url.pathname, Astro.site)} />
    <meta property="og:image" content={avatar.src} />
    <meta property="og:image:alt" content={t('common.avatar')} />
    <meta property="og:image:height" content={avatar.height.toString()} />
    <meta property="og:image:width" content={avatar.width.toString()} />
    <link rel="alternate" href={pageUrls.en} hreflang="en" />
    <link rel="alternate" href={pageUrls.fr} hreflang="fr" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <script is:inline src={initThemeScript}></script>
  </head>
  <body class="flex min-h-screen flex-col bg-slate-100 text-slate-900 dark:bg-slate-900 dark:text-slate-100">
    <Header />
    <main class={cn('container grow py-16', className)}>
      <slot />
    </main>
    <footer></footer>
  </body>
</html>
